<mat-nav-list>




  <h2 matSubheader>Menu</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>home</mat-icon>
    Visão Geral
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
    <mat-icon>perm_identity</mat-icon>
    Funcionários
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/societario">
    <mat-icon aria-hidden="false" aria-label="Example home icon">supervisor_account</mat-icon>
    Societário
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/societario">
    <mat-icon aria-hidden="false" aria-label="Example home icon">toc</mat-icon>
    Balanço
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/societario">
    <mat-icon aria-hidden="false" aria-label="Example home icon">table_view</mat-icon>
    DRE
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/societario">
    <mat-icon aria-hidden="false" aria-label="Example home icon">wysiwyg</mat-icon>
    Balancete
  </a>



</mat-nav-list>
